@model UserCreateModel

<div class="row">
    @Html.AntiForgeryToken()
    @Html.SavedModel(Model)
    <div>
        @Html.AjaxNote()
    </div>
</div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new {@class = "field_text form-control"})
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new {@class = "field_text form-control"})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.UserGroupId)
                @Html.DropDownListFor(model => model.UserGroupId, new SelectList(Model.UserGroupList, nameof(UserGroupListItem.UserGroupId), nameof(UserGroupListItem.Name)), "--اختر--", new {@class = "field_menu form-control"})
                @Html.ValidationMessageFor(model => model.UserGroupId)
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new {@class = "field_text form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "field_text form-control"})
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
    </div>
